{% extends 'base.html.twig' %}

{% block main %}

<div class="formulaire">
    <form action="" method="GET">
        <label for="titre">Modifier le titre</label>
        <input type="text" name="titre" id="titre">

        <label for ="color">Modifier la couleur</label>
        <input type="color" name="color" id="color">

        <button>Validation</button>
    </form>

{% endblock %}