{% extends "base.html.twig" %}

    {% block main %}
      {% if article.isPublished %}

          <article class="article_solo">
              <h2> {{ article.title }}</h2>
              <p>{{ article.description }}</p>
              <img src="{{ article.image }}" alt="image article" >
              <p> {{ article.publishedAt|date('d/m/y') }}</p>
          </article>
      {% endif %}

    {% endblock %}