<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset("style.css") }}">
    {% block title %}
        <title>Blog la piscine</title>
    {% endblock %}
</head>
    <header>
        <ul>
            <li> <a href=" {{ path('home') }} " >Acceuil</a>  </li>
            <li> <a href="{{ path('admin_articles') }}">Nos articles</a></li>
            <li><a href="{{ path('admin_categories') }}"> Nos categories</a> </li>
        </ul>
    </header>
<body>
{% block main %}
{% endblock %}

</body>


<footer>
    {% block footer %}
        <h2> je suis un footer</h2>
    {% endblock %}
</footer>

</html>