{% extends "base.html.twig" %}

{% block main %}
<h1> Accueil</h1>

<div class="formulaire">
<form action="" method="GET">
    <label for="age"> Entrez votre age</label>
    <input type="text" name="age" id="age">
    <button>Validation</button>
</form>

</div>

<div class="container" >
    <div class="row">

{%for article in dernierArticles %}
    {% if article.isPublished %}

                <article class="article_home col-12 col-md-4">
                    <h2> {{ article.tilte }}</h2>
                    <p>{{ article.content }}</p>
                    <img src="{{ article.image }}" alt="image article" >

                    <a class="btn" href="{{ path('admin_article', {'id': article.id}) }}"> en savoir plus</a>
                </article>

    {% endif %}
{% endfor %}

    </div>
</div>

{% endblock %}

{% block footer %}
    <h2> Accueil </h2>
{% endblock %}


